.body {
    margin: 0;
    padding: 0;
    background: #f2f3f5;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    color: #343434;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 15px;
}

.create-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .03)
}

.logo-brand-img {
    width: 40px;
    height: 40px;
}

.create-button-container:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    background: #666;
    border-radius: 3px;
    font-size: 20px;
    color: #fff;
    transition: background .15s ease .05s;
}

.create-button:hover {
    background: #71BE00;
}

.doctor-card-container {
    margin-top: 40px;
}

.cards-wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    justify-content: space-between;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .03);
}

.cards-wrapper:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999999;
    display: none;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 400px;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .03);
    transform: translate(-50%, -50%);
    transition: box-shadow .15s ease .05s;
}

.modal-modal:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close {
    position: absolute;
    right: 12px;
    top: 0;
}

.modal-close:hover {
    cursor: pointer;
}

.choose-doctor {
    margin-bottom: .5em;
    width: 100%;
    height: 28px;
    background: #ddd;
    border-radius: 3px;
}

.form-doctor {
    display: flex;
    flex-direction: column;
}

.input-form {
    flex: 0 0 100%;
    margin-bottom: .5rem;
    padding: 7px 23px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
}

.input-form:focus {
    border-color: #C7C7C7;
    outline: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .03);
}

.text-area {
    flex: 0 0 100%;
    margin-top: 10px;
    padding: 10px 23px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
}

input[placeholder] {
    color: #343434;
    font-size: 13px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .03);
}

.card:hover {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}

.cross {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.hidden {
    display: none;
}

.show-more {
    padding: 7px 0;
    background: #666;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.show-more:hover {
    background: #71BE00;
}

.fail-text {
    color: red;
}